body {
  margin: 10px;
  margin-left:10px ;
  margin-right: 10px;
  margin-bottom: 10px;

}
  

article {
  margin-left: 20%;  
  width: 60%;

}

h1 {
  font-size: 46px;
  width: 100%;
  font-family: Proza Libre, sans-serif ;
}

.story_image {

  width: 100%;
}

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

.pullquotestyle {
  font-family: 'Cormorant Garamond' Bold, sans-serif;
  font-size: 100px; 
}
.byline {
  font-size: 12px;
  font-family: 'Proza Libre',sans-serif;
 
}
.deckline {
  font-size: 20px;
  font-family: 'Cormorant Garamond',serif;
}
.caption {
  font-size: 12px;
  font-family: 'Cormorant Garamond',serif;
}